@model AddEditAuthorViewModel
@{

    // SelectList categories = new SelectList(Model.Categories, "Id", "Name");
    // SelectList authors = new SelectList(Model.Authors, "Id", "Name");
    // SelectList languages = new SelectList(Model.Languages, "Id", "Name");
}


<div class="row mx-0 my-4">

    <div class="col p-0">

        <div class="form-entity-box">
            <div class="entity-input">

                <label asp-for="FirstName"></label>
                <input asp-for="FirstName"
                       placeholder="الاسم الاول"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="form-entity-box">
            <div class="entity-input">

                <label asp-for="LastName"></label>
                <input asp-for="LastName"
                       placeholder="الاسم الأخير"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="form-entity-box form-entity-box-area">
            <div class="entity-input">

                <label asp-for="Bio"></label>
                <textarea asp-for="Bio"
                          placeholder="لسيرة الذاتية"
                          aria-label="default input example">
                                </textarea>
            </div>
            <span asp-validation-for="Bio"></span>
        </div>

    </div>

    <div class="col p-0">

        <div class="form-entity-box">
            <div class="entity-input">
                <label asp-for="NationalityID"></label>
                    <input asp-for="NationalityID"
                       placeholder="الرقم الوطني"
                           aria-label="default input example" />
                </div>
            <span asp-validation-for="NationalityID"></span>
        </div>

        <div class="form-entity-box">
            <div class="entity-input">
                <label asp-for="Email"></label>
                <input asp-for="Email"
                       placeholder="عنوان الايميل"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="p-0 form-entity-box">
            <div class="entity-input">
                <label asp-for="Phone"></label>
                <input asp-for="Phone"
                       placeholder="رقم الموبايل"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="Phone"></span>
        </div>

    </div>

    <div class="col p-0">

        <div class="row m-0 gy-2">

            <div class="col-12 p-0 form-entity-box">
                <div class="form-book-cover flex-column">

                    <!-- Image preview -->
                    @if (Model.Mode == "Details")
                    {
                        if (!string.IsNullOrEmpty(Model.ProfileImage))
                           {
                            <img src="@Model.ProfileImage" class="card-img-top rounded" />
                           }
                           else
                           {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                           }
                    }
                    else
                    {
                       
                        if (!string.IsNullOrEmpty(Model.ProfileImage))
                        {
                            <img src="@Model.ProfileImage" alt="Author Profile Image" class="card-img-top rounded" />

                        }
                        else
                        {
                            <img src="" alt="Author Profile Image" style="display: none;" />
                        }
                    }
                </div>
            </div>

            @if (Model.Mode != "Details")
            {

                <div class="col-12 p-0">
                    <div class="input-group d-flex align-items-center gap-2">

                        @if (Model.Id != 0)
                        {
                            <input name="authorProfileImage" type="file" class="form-control" id="ProfileImage" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        }
                        else
                        {
                            <input name="authorProfileImage" type="file" class="form-control" id="ProfileImage" aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                            @* <input id="ProfileImage" *@
                            @*     class="form-control border-0 shadow input-validation-error" *@
                            @*        type="file" *@
                            @*        data-val="true" *@
                            @*        data-val-required="الصورة مطلوبة" *@
                            @*        name="authorProfileImage" *@
                            @*        aria-describedby="authorProfileImage-error" *@
                            @*        aria-invalid="true" /> *@
                            @* <span class="text-danger field-validation-error" data-valmsg-for="authorProfileImage" data-valmsg-replace="true"></span> *@
                        }

                        <button class="btn delete-image btn-icon btn-red">
                            <svg width="24" height="24" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.387 4.42172C12.1312 4.19817 9.86187 4.08301 7.59929 4.08301C6.258 4.08301 4.91671 4.15075 3.57542 4.28623L2.19348 4.42172" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M5.91931 3.73752L6.06834 2.8501C6.17673 2.20655 6.25802 1.72559 7.40286 1.72559H9.1777C10.3225 1.72559 10.4106 2.23365 10.5122 2.85688L10.6612 3.73752" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12.9307 6.5625L12.4903 13.3841C12.4158 14.4477 12.3549 15.2741 10.4649 15.2741H6.11583C4.22583 15.2741 4.16486 14.4477 4.09035 13.3841L3.65002 6.5625" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.15894 11.5483H9.41474" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.59668 8.83862H9.98378" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
