@model AddEditAuthorViewModel

@{
    ViewData["Section"] = "المؤلفين";
    ViewData["Title"] = "Edit";

}

@section Styles {
    <link rel="stylesheet" href="~/css/Admin/author.css" />

}
<form asp-area="Admin" asp-controller="Author" asp-action="Edit" method="Post" enctype="multipart/form-data">

    @* <div asp-validation-summary="All"></div> *@

    <partial name="_AddEditAuthorHTMLPartial" model="Model" />

</form>


@section Scripts {

    <script src="~/js/Admin/author.js" asp-append-version="true"></script>
}
