@model AddEditBookViewModel
@{

    // SelectList categories = new SelectList(Model.Categories, "Id", "Name");
    // SelectList authors = new SelectList(Model.Authors, "Id", "Name");
    // SelectList languages = new SelectList(Model.Languages, "Id", "Name");
}


<div class="row mx-0 my-4">

    <div class="col p-0">

        <div class="form-entity-box">
            <div class="entity-input">

                <label asp-for="Title"></label>
                <input asp-for="Title"
                       placeholder="عنوان الكتاب"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="Title"></span>
        </div>

        <div class="form-entity-box">
            <div class="entity-input">
                <svg class="add-new" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12H16" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 16V8" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <label asp-for="AuthorID"></label>
                @* <select asp-for="AuthorID" asp-items="authors" aria-label="Default select example"> *@
                @*     <option selected disabled value="0" >اسم المؤلف</option> *@
                @* </select> *@

            </div>
            <span asp-validation-for="AuthorID"></span>
        </div>

        <div class="form-entity-box form-entity-box-area">
            <div class="entity-input">

                <label asp-for="Description"></label>
                <textarea asp-for="Description"
                          placeholder="وصف الكتاب"
                          aria-label="default input example">
                                </textarea>
            </div>
            <span asp-validation-for="Description"></span>
        </div>

    </div>

    <div class="col p-0">

        <div class="form-entity-box">
            <div class="entity-input">
                <svg class="add-new" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12H16" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 16V8" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <label asp-for="CategoryID"></label>
                @* <select asp-for="CategoryID" asp-items="categories" aria-label="Default select example"> *@
                @*     <option selected disabled value="0">الفئة</option> *@
                @* </select> *@
            </div>
            <span asp-validation-for="CategoryID"></span>
        </div>

        <div class="form-entity-box">
            <div class="entity-input">
                <label asp-for="LanguageID"></label>
                @* <select asp-for="LanguageID" asp-items="languages" aria-label="Default select example"> *@
                @*     <option selected disabled value="0">اللغة</option> *@
                @* </select> *@
            </div>
            <span asp-validation-for="@Model.LanguageID"></span>
        </div>

        <div class="p-0 form-entity-box">
            <div class="entity-input">
                <label asp-for="@Model.Price"></label>
                <input asp-for="@Model.Price"
                        
                       placeholder="100"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="@Model.Price"></span>
        </div>

        <div class="form-entity-box">
            <div class="entity-input">

                <label asp-for="PublicationDate"></label>
                <input id="bookDate" asp-for="PublicationDate"
                       type="date"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="PublicationDate"></span>
        </div>

        <div class="form-entity-box">
            <div class="entity-input">

                <label asp-for="ISBA"></label>
                <input asp-for="ISBA"
                        
                       placeholder="ISBA"
                       aria-label="default input example" />
            </div>
            <span asp-validation-for="ISBA"></span>
        </div>

    </div>

    <div class="col p-0">

        <div class="row m-0">
            <div class="col-2 p-0 img-options">
                <button class="btn reset">
                    reset
                </button>
                <button class="btn delete">
                    delete
                </button>
            </div>

            <div class="col p-0 form-entity-box">
                <div class="form-book-cover">
                    <label asp-for="CoverImage">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 11.6667C11.7887 11.6667 12.8333 10.622 12.8333 9.33333C12.8333 8.04467 11.7887 7 10.5 7C9.21134 7 8.16667 8.04467 8.16667 9.33333C8.16667 10.622 9.21134 11.6667 10.5 11.6667Z" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.1667 2.33325H10.5C4.66666 2.33325 2.33333 4.66659 2.33333 10.4999V17.4999C2.33333 23.3333 4.66666 25.6666 10.5 25.6666H17.5C23.3333 25.6666 25.6667 23.3333 25.6667 17.4999V11.6666" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21 9.33325V2.33325L23.3333 4.66659" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21 2.33325L18.6667 4.66659" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.11501 22.1083L8.86667 18.2467C9.78834 17.6283 11.1183 17.6983 11.9467 18.41L12.3317 18.7483C13.2417 19.53 14.7117 19.53 15.6217 18.7483L20.475 14.5833C21.385 13.8017 22.855 13.8017 23.765 14.5833L25.6667 16.2167" stroke="#9E9BA9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <h5>إختيار غلاف الكتاب</h5>
                    </label>
                    <!-- Image preview -->
                    <img src="" alt="Book Cover" style="display: none;" />

                    <input type="file" asp-for="CoverImage" />

                </div>
                <span asp-validation-for="CoverImage"></span>
            </div>

        </div>


    </div>

</div>


@section Scripts {
    <script src="~/js/Admin/book.js" asp-append-version="true"></script>
}