body {
    background-color: var(--text-color);
}

.footer {
    bottom:auto !important;
}

/* Start Navbar */
.navbar .navbar-nav .nav-link {
    color: var(--text-color);
}
.active,
.navbar .navbar-nav .nav-link:hover {
    color: var(--second-color) !important;
}

.active:hover svg path,
.navbar .navbar-nav .nav-link:hover svg path {
    stroke: var(--second-color);
}


    .navbar .navbar-toggler {
        transition: .25s;
        -webkit-transition: .25s;
        -moz-transition: .25s;
        -ms-transition: .25s;
        -o-transition: .25s;
    }

    .navbar .navbar-toggler svg:hover path,
    .navbar .navbar-toggler svg:focus path {
        stroke: var(--second-color);
    }

    .navbar .navbar-toggler:focus {
        box-shadow: none;
    }

.btn-close:hover {
    color: var(--main-color);
}

.shopping-card-box a::after {
    content: attr(data-shopping-card-count);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: var(--second-color);
    color: var(--text-color);
    font-size: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .shopping-card-box a::after {
        top: 4px;
        right: 4px;
    }
}