@model CategoryViewModel

@{
    ViewData["Section"] = "الفئات";
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Admin/category.css" />
}

<form asp-area="admin" asp-controller="Category" asp-action="Edit" method="Post">

    @* <div asp-validation-summary="All"></div> *@

    <partial name="_AddEditCategoryHTMLPartial" model="Model" />

</form>


@section Scripts {

    <script src="~/js/Admin/category.js" asp-append-version="true"></script>
}

