body {
}

/**/
.status-container {
    height: 350px !important;
}


/* Books Section*/
.card {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    position: relative;
}

    .card .image-container {
        height: 150px;
        overflow: hidden;
        border-radius: 1.5rem;
    }

        .card .image-container img {
            object-fit: cover;
            border-radius: 1.5rem;
        }

