/*Start Dashboard*/

/* Start sidebar */
.sidebar {
    position:fixed;
    right:0;
    top:0;
    border-left: 1px solid var(--gray-color);
}

.content-container {
    margin-right: auto;
    margin-top: 0;
    margin-bottom:auto;
}

.sidebar .logo-box {
    border-bottom: 1px solid var(--gray-color);
}

.sidebar .navbar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 0 .75rem;
    border-radius: .75rem;
}

.sidebar .navbar .navbar-nav .nav-item .nav-link {
    color: var(--strok-color);
    width: 100%;
    padding: .5rem .75rem;
}


    .sidebar .active,
    .sidebar .navbar .navbar-nav .nav-link:active,
    .sidebar .navbar .navbar-nav .nav-link:focus,
    .sidebar .navbar .navbar-nav .nav-link:hover {
        color: var(--text-color) !important;
        background-color: var(--main-color);
    }

        .sidebar .active > svg path,
        .sidebar .navbar .navbar-nav .nav-link:active svg path,
        .sidebar .navbar .navbar-nav .nav-link:focus svg path,
        .sidebar .navbar .navbar-nav .nav-link:hover svg path {
            stroke: var(--text-color);
        }




/* header-nav */
.header-nav {
    width: 84%;
    padding: .5rem 3rem !important;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header-nav .navbar .navbar-nav .nav-item .nav-link {
    color: var(--black-color);
}

.header-nav.navbar .navbar-nav .nav-link:hover {
    color: var(--gray-color) !important;
}

.header-nav.navbar .navbar-nav .nav-link:hover svg path {
    stroke: var(--gray-color);
}


/*content-container*/

.content-container .container {
    margin-top:5rem;
}

/*Search */
.table-search-box svg {
    left: 12px;
    top: 18%;
}

.table-search-box input:focus,
.table-search-box input:focus + svg path {
    stroke: var(--main-color);
}

.table-search-box + .btn {
    border: 2px solid var(--main-color);
}



/* ---------------------------
   Table Styling
--------------------------- */

table {
    border-collapse: separate;
    border-spacing: 0 8px !important;  
}

#example_wrapper {
/*    padding: 1rem;*/
}


table thead {
    background-color: var(--opacity-color) !important;
    border-radius: .75rem;
}

    table thead th {
        padding-bottom: 12px !important;
        padding-top: 12px !important;
        text-align: right !important;
        border-bottom: 2px solid #dee2e6;
    }


        table thead th:first-child {
            border-top-right-radius: 8px;
            padding-right: 30px !important;
        }

table thead th:nth-child(2) {
    width: 40% !important;
}

table thead th:not(:nth-child(2)) {
    width: 15% !important;
}

table thead th:last-child {
    border-top-left-radius: 8px;
    padding-left: 30px !important;
}


table tbody tr {
    background-color: var(--opacity-color) !important;
    border-bottom: .5px solid var(--strok-color);
}
/* Zebra-striping for even rows */
/*.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}*/


.table tbody tr:hover {
    background-color: var(--gray-color);
}

table tr td {
    height: 73px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-right: 1.5rem !important;
    align-content: center;
    align-items: center;
}
    table tr td:last-child {
        padding-right: 0rem !important;
        padding-left: 1.5rem !important;
    }


    table img {
        width: 62px;
        height: 62px;
        border-radius: .75rem;
        border: .5px solid var(--strok-color);
    }

table button {
    cursor: pointer !important;
}

/*pagination*/
ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.page-item .page-link {
    background-color: var(--opacity-color) !important;
}

.page-item.disabled .page-link {
    background-color: var(--gray-color) !important;
}

.page-item.active .page-link {
    background-color: var(--main-color) !important;
}

.dt-info {
    margin:0 !important;
}


/*Entity Cound Select*/
.dt-length {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: left;
    gap: 1rem;
    margin:10px 0;
}
.dt-length label {

}

.dt-length label select {
    border-radius: .75rem;
}


/* Components */

.form-entity-box span {
    color: var(--red-color);
    font-size: .75rem;
}

.entity-input {
    position: relative;
    width: 327px;
    height: 76px;
    display: flex;
    flex-direction: column;
}

.entity-inputt label {
    width: 100%;
    height: 17px;
    color: var(--black-color);
}

.entity-input input,
.entity-input select,
.entity-input textarea {
    width: 100%;
    height: 50px;
    background-color: var(--opacity-color);
    color: var(--strok-color);
    padding: 1rem;
    border: none;
    border-radius: .875rem !important;
    -webkit-border-radius: .875rem !important;
    -moz-border-radius: .875rem !important;
    -ms-border-radius: .875rem !important;
    -o-border-radius: .875rem !important;
}


.entity-input input[type="date"],
.entity-input select {
    cursor: pointer;
}

.entity-input select {
    border-left: 10px solid transparent;
}

.entity-input input:focus,
.entity-input select:focus,
.entity-input textarea:focus {
    color: var(--main-color);
    box-shadow: 0 0 3px var(--main-color);
    border: none;
    outline: none;
}

    .entity-input select:focus-visible {
        outline: none;
        border-left: 10px solid transparent;
    }
.entity-input svg.add-new {
    position: absolute;
    left: 0;
    top: 0;
}

.entity-input svg.show-dropdown {
    position: absolute;
    left: 1rem;
    top: 50%;
}


.entity-input:has(input:focus) svg path {
    stroke: var(--main-color);
}



/*Different sizes*/
.form-double-entity-box {
    width: 327px;
}

.form-double-entity-box .entity-input {
    width: 150px;
    height: 76px;
}

.form-double-entity-box .entity-input input {
    width: 150px;
}

.form-entity-box-area .entity-input {
    height: 275px;
}
.form-entity-box-area textarea {
    height: 100%;
    resize: none;
}


/*Image input*/
.form-book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--opacity-color);
    height: 475px;
    overflow: hidden;
    color: var(--strok-color);
    border: 2px solid var(--strok-color);
    border-radius: .875rem 0 0 .875rem;
    -webkit-border-radius: .875rem 0 0 .875rem;
    -moz-border-radius: .875rem 0 0 .875rem;
    -ms-border-radius: .875rem 0 0 .875rem;
    -o-border-radius: .875rem 0 0 .875rem;
}
    .form-book-cover img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form-book-cover label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

    .form-book-cover input[type="file"] {
        display: none;
    }

.img-options {
    background-color: var(--opacity-color);
    display: flex;
/*    display: none;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 0 .875rem .875rem 0;
    border: 2px solid;
    border-color: var(--gray-color) var(--gray-color) var(--gray-color) transparent;
}

.img-options button {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-options .reset:first-of-type {
    color: var(--second-color);
}

.img-options .delete:last-of-type {
    color: var(--red-color);
}