body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo-container {
    right: 15%;
    top: 4%;
}

.image-container {
    width: 80%;
    min-width: 300px;
}

.divider-with-text::before,
.divider-with-text::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--gray-color);
}

.external-login-button {
    transition: .25s ease-in-out;
}

    .external-login-button:hover {
        transform: translateY(-1px);
    }
