
:root {
    --main-color: #674FCD;
    --second-color: #A3B12B;
    --text-color: #FFFFFF;
    --opacity-color: #F5F5F5;
    --black-color: #000000;
    --section-color: red;
    --section-heihgt: calc(100dvh - 73px - 61px);
    --section-large-heihgt: calc(100dvh - 70px - 61px);
    --section-medium-heihgt: calc(100dvh - 66.75px - 61px);
    --section-small-heihgt: calc(100dvh - 66.75px - 120px);
}

/* Utility Classes */
.color-main {
    color: var(--main-color);
}

.color-second {
    color: var(--second-color);
}

.color-text {
    color: var(--text-color);
}

.color-opacity {
    color: var(--forth-color);
}

.bg-main {
    background-color: var(--main-color);
}

.bg-second {
    background-color: var(--second-color);
}

.bg-text {
    background-color: var(--text-color);
}

.bg-opacity {
    background-color: var(--opacity-color);
}

.section-height {
    min-height: var(--section-heihgt);
    height: var(--section-heihgt);
}

@media (max-width: 992px) and (min-width: 768px) {
    .section-height {
        min-height: var(--section-large-heihgt);
        height: var(--section-large-heihgt);
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .section-height {
        min-height: var(--section-medium-heihgt);
        height: var(--section-medium-heihgt);
    }
}

@media (max-width: 576px) {
    .section-height {
        min-height: var(--section-small-heihgt);
        height: var(--section-small-heihgt);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
/*    position: relative;
    min-height: 100%;*/
    scroll-behavior: smooth;
    font-size: 14px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    font-family: "Rubik", serif;
    background-color: var(--main-color);
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

footer {
    z-index: 10;
}


/* Start Navbar */
.navbar .navbar-nav .nav-link {
    color: var(--third-color);
}

    .navbar .navbar-nav .nav-link:active,
    .navbar .navbar-nav .nav-link:focus,
    .navbar .navbar-nav .nav-link:hover {
        color: var(--second-color) !important;
    }

.navbar .navbar-toggler {
    transition: .25s;
    border: 2px solid var(--black-color);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

    .navbar .navbar-toggler:hover,
    .navbar .navbar-toggler:focus {
        border: 2px solid var(--second-color);
    }

    .navbar .navbar-toggler:focus {
        box-shadow: none;
    }

.nav-item button:hover {
    border: 1px solid var(--third-color);
}


