:root {
    --main-color: #674FCD;
    --second-color: #A3B12B;
    --text-color: #FFFFFF;
    --opacity-color: #F5F5F5;
    --black-color: #110F0F;
    --gray-color: #C2C3CB;
    --strok-color: #9E9BA9;
    --red-color: #DC143C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    font-family: "Rubik", serif;
    min-height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

a {
    text-decoration: none;
    transition: .25s ease-in-out;
}

button {
    transition: .25s ease-in-out;
}

a.color-second:hover {
    color: var(--main-color) ;
}

input {
    border: none;
    outline: none;
}


/* Utility Classes */
.color-main {
    color: var(--main-color);
}

.color-second {
    color: var(--second-color) !important;
}

.color-text {
    color: var(--text-color) !important;
}

.color-opacity {
    color: var(--opacity-color) !important;
}

.color-gray {
    color: var(--gray-color) !important;
}
.color-red {
    color: var(--gray-red) !important;
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

.bg-text {
    background-color: var(--text-color) !important;
}

.bg-opacity {
    background-color: var(--opacity-color) !important;
}

.bg-gray {
    background-color: var(--gray-color) !important;
}
.bg-red {
    background-color: var(--red-color) !important;
}

.shadow-main:focus {
    box-shadow: 0 0 3px var(--main-color);
}

.rounded-main {
    border-radius: 1.5rem;
}

.rounded-second {
    border-radius: .875rem;
}

.size-100 {
    width:100%;
    height:100%
}

.pointer {
    cursor: pointer;
}

.trs {
    transition: .25s ease-in-out;
}

.hover-main:hover {
    color: var(--main-color) !important;
}

.hover-second:hover {
    color: var(--second-color) !important;
}

.hover-text:hover {
    color: var(--text-color) !important;
}

.hover-black:hover {
    color: var(--black-color) !important;
}

/* Components */

/* Flex */
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


.flex-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

/* Input Box */
.input-box {
    position: relative;
    width: 282px;
}

.input-box-sm {
    width: 135.5px !important;
}

.input-box input,
.input-box input:focus {
    height: 50px;
    color: #C2C3CB;
    background-color: var(--opacity-color);
    font-size: .875rem;
    padding: 0 2.5rem;
    border: none;
    border-radius: .875rem !important;
    -webkit-border-radius: .875rem !important;
    -moz-border-radius: .875rem !important;
    -ms-border-radius: .875rem !important;
    -o-border-radius: .875rem !important;
}

    .input-box input:focus {
        color: var(--main-color);
        box-shadow: 0 0 3px var(--main-color);
    }

.input-box:has(input:focus) svg path {
    stroke: var(--main-color);
}

.input-box svg:first-of-type {
    position: absolute;
    right: 10px;
    top: 25%;
}

.password-box svg:nth-of-type(2) {
    position: absolute;
    left: 10px;
    top: 25%;
    cursor: pointer;
}



/* Buttons */
.btn {
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    border: none !important;
    border-radius: .875rem !important;
    -webkit-border-radius: .875rem !important;
    -moz-border-radius: .875rem !important;
    -ms-border-radius: .875rem !important;
    -o-border-radius: .875rem !important;
}

.btn-input {
    width: 282px;
    height: 50px;
}

.btn-icon {
    width: 50px;
    height: 50px;
}

.btn-lg {
    width: 160px;
    height: 50px;
}

.btn-sm {
    width: 99px;
    height: 50px;
}

.btn:hover {
    opacity: 0.9 !important;
    box-shadow: none !important;
    border: none !important;
}

.btn-main {
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
}

    .btn-main:hover {
        color: var(--text-color) !important;
    }

.btn-main-open {
    background-color: var(--text-color) !important;
    color: var(--main-color) !important;
    border: 2px solid var(--main-color) !important;
}

    .btn-main-open:hover {
        background-color: var(--main-color) !important;
        color: var(--text-color) !important;
    }

.btn-second {
    background-color: var(--second-color) !important;
    color: var(--text-color) !important;
}

    .btn-second:hover {
        background-color: var(--text-color) !important;
        color: var(--second-color) !important;
        border: 2px solid var(--second-color) !important;
    }

.btn-second-open {
    background-color: var(--text-color) !important;
    color: var(--second-color) !important;
    border: 2px solid var(--second-color) !important;
}

    .btn-second-open:hover {
        background-color: var(--second-color) !important;
        color: var(--text-color) !important;
    }

.btn-red-open {
    background-color: var(--text-color) !important;
    color: red !important;
    border: 2px solid var(--red-color) !important;
}

    .btn-red-open:hover {
        background-color: var(--red-color) !important;
        color: var(--text-color) !important;
    }

.btn-strok {
    background-color: var(--text-color) !important;
    color: var(--strok-color) !important;
    border: 2px solid var(--strok-color) !important;
}

    .btn-strok:hover {
        background-color: var(--strok-color) !important;
        color: var(--text-color) !important;
    }

.btn-strok-open {
    background-color: var(--strok-color) !important;
    color: var(--text-color) !important;
}

    .btn-strok-open:hover {
        background-color: var(--text-color) !important;
        color: var(--strok-color) !important;
        border: 2px solid var(--strok-color) !important;
    }



/* Card Components */
.card {
    position: relative;
    background-color: var(--opacity-color);
    width: 195px;
    padding: 10px;
    border-radius: .875rem;
    -webkit-border-radius: .875rem;
    -moz-border-radius: .875rem;
    -ms-border-radius: .875rem;
    -o-border-radius: .875rem;
    box-shadow: 0 0 2px var(--gray-color);
    border: 1px solid var(--gray-color);
}

/* For Admin */
.card-view {
    height: 226px;
}

/* For Customer */
.card-buy {
    height: 267px;
}

.card-image {
    width: 175px;
    height: 133px;
    overflow: hidden;
    border-radius: .875rem;
    -webkit-border-radius: .875rem;
    -moz-border-radius: .875rem;
    -ms-border-radius: .875rem;
    -o-border-radius: .875rem;
    padding: 0;
    margin: 0;
}

.card .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 0;
    margin: 10px 0 0;
    text-align: right;
    color: var(--strok-color);
}

    .card-body .card-title {
        padding: 0 !important;
        margin: 0 !important;
        color: var(--black-color);
    }

    .card-body .card-text {
        padding: 0 !important;
        margin: 0 !important;
    }

    .card-body .card-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 !important;
        margin: 0 !important;
    }

        .card-body .card-price p {
            margin: 0 !important;
        }

            .card-body .card-price p:nth-of-type(2) {
                font-weight: bold;
                color: var(--second-color);
            }

                .card-body .card-price p:nth-of-type(2) span {
                }

.card-buy .card-body .card-btn {
    background-color: var(--main-color);
    color: var(--text-color);
    width: 100%;
    height: 31px;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}