@page
@using BookStore.Utilties
@model RegisterModel
@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = "إنشاء حساب جديد";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/register.css" />
}

<div class="container mt-5">
    <div>
        <a href="">
            <img src="~/images/Logo.png" alt="" />
        </a>
    </div>

    <div class=" mb-5 row justify-content-center">
        <div class="col-md-6 register-container">
            <div>
                <h1 class="form-title">إنشاء حساب جديد</h1>
                <div class="row mb-5 link-login">
                    <div>لديك حساب؟ <a asp-page="./Login">سجل الدخول</a></div>
                </div>
            </div>

            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                @* <div asp-validation-summary="All" class="row mb-3 text-danger" role="alert"></div> *@
                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Input.FirstName" class="form-label">الاسم الاول</label>
                        <input asp-for="Input.FirstName"
                               class="form-control register-input"
                               placeholder="اسمك " />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Input.LastName" class="form-label">الاسم الأخير</label>
                        <input asp-for="Input.LastName"
                               class="form-control register-input"
                               placeholder="اسمك " />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">البريد الإلكتروني</label>
                    <input asp-for="Input.Email"
                           class="form-control register-input"
                           placeholder="example@mail.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">كلمة المرور</label>
                    <input asp-for="Input.Password"
                           class="form-control register-input"
                           placeholder="ادخل هنا" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">
                        تأكيد كلمة المرور
                    </label>
                    <input asp-for="Input.ConfirmPassword"
                           class="form-control register-input"
                           placeholder="ادخل هنا" />
                    <span class="text-danger"></span>
                </div>

                @if (User.IsInRole(AppUserRoles.RoleAdmin))
                {
                    <div class="mb-3 mt-3 col-md-12 ">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RolesList" class="form-select roles-select">
                            <option disabled selected>Select Role</option>
                        </select>
                    </div>
                }

                <div class="mb-5 terms-container">
                    <input class="checkbox-terms"
                           id="Terms"
                           name="Terms"
                           type="checkbox" />
                    <label class="policy-label" for="Terms">أوافق على <a href="#">الشروط والأحكام</a></label>
                    <span class="text-danger"></span>
                </div>

                <div class="d-grid mb-5">
                    <button type="submit" class="btn button-submit">
                        تسجيل حساب جديد
                    </button>
                </div>
            </form>

            <div>
                <div class="text-center my-3">
                    <span>----------- أو -----------</span>
                </div>
                <div class="col text-center">
                    <!-- Google Button -->
                    <button class="btn rounded-circle mx-2 external-login-btn">
                        <i class="fab fa-google"></i>
                    </button>
                    <!-- Facebook Button --> 
                    <button class="btn rounded-circle mx-2 external-login-btn">
                        <i class="fab fa-facebook"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

