@using BookStore.Utilties
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore.Web</title>
    <!--  Bootstrap Css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/BookStore.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/fontawesome-free-6.2.0-web/css/all.min.css" />

    <!-- Googole Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body dir="rtl">
    <header>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg sticky-top bg-main text-black border-bottom">
            <div class="container">
                <!-- <div class="container p-md-0 px-2"> -->
                <a class="navbar-brand m-0" href="#">
                    <img src="~/images/Logo.svg" alt="كتبي" />
                </a>
                <button class="navbar-toggler fs-6"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#main"
                        aria-controls="main"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars color-text"></i>
                </button>
                <div class="collapse navbar-collapse" id="main">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active p-2 p-lg-3"
                               aria-current="page"
                               asp-area="" asp-controller="Home" asp-action="Index"
                               >الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3" href="#">ادارة المشتريات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3" 
                               asp-area="" asp-controller="Home" asp-action="Privacy">سياسة الخصوصية</a>
                        </li>
                        @if (User.IsInRole(AppUserRoles.RoleAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link p-2 p-lg-3" >ادارة التطبيق</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav me-auto mb-lg-0 align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3 d-flex align-items-center" href="#">
                                <i class="fa-solid fa-cart-shopping color-text fs-4"></i>
                            </a>
                        </li>
                        
                        <partial name="_LoginPartial" />

                    </ul>
                </div>
            </div>
        </nav>


    </header>
            @RenderBody()

    <footer class="border-top footer text-muted bg-main m-0">
        <div class="container color-text">
            <div class="row flex-wrap justify-content-center">
                <div class="col-6 col-sm-4 text-center">
                      جميع الحقوق محفوظة لدى
                    <span class="color-second"> كتبي</span>

                </div>
                <div class="col-6 col-sm-4 text-center">
                    &copy; 2025-
                    <span class="color-second">ARAMM</span>
                </div>
                <div class="col-6 col-sm-4 text-center">
                    <a class="color-text" asp-area="" asp-controller="Home" asp-action="Privacy"> الخصوصية</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
