@using BookStore.Models.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="text-decoration-none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">مرحبًا @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="text-decoration-none btn btn-link border-0">تسجيل الخروج</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="text-decoration-none" id="register" asp-area="Identity" asp-page="/Account/Register">تسجيل في المنصة</a>
    </li>
    <li class="nav-item">
            <a class="text-decoration-none" id="login" asp-area="Identity" asp-page="/Account/Login">تسجيل الدخول</a>
    </li>
}
</ul>
