<div class="table-search-box col-10 position-relative p-0">
        <input class="form-control py-2 px-5 rounded-second shadow-main"
               type="text"
               placeholder="البحث عن المنتج"
               aria-label="default input example">
        <svg class="position-absolute" width="26" height="26" viewBox="0 0 26 26" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M11.9166 21.6666C17.3014 21.6666 21.6666 17.3014 21.6666 11.9166C21.6666 6.53185 17.3014 2.16663 11.9166 2.16663C6.53185 2.16663 2.16663 6.53185 2.16663 11.9166C2.16663 17.3014 6.53185 21.6666 11.9166 21.6666Z"
                  stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M20.5074 22.4139C21.0815 24.1473 22.3924 24.3206 23.3999 22.8039C24.3207 21.4173 23.714 20.2798 22.0457 20.2798C20.8107 20.2689 20.1174 21.2331 20.5074 22.4139Z"
                  stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>